<head>
  <link rel="stylesheet" href="/styles.css" />
</head>

<h1>Lista de productos</h1>
<div class="producto-card">
<ul>
  {{#each productos}}
    <li class="producto">
      <img src="${p.thumbnails[0]}" alt=" {{this.title}}" class="producto-img" />
      <h3>{{this.title}}</h3>
      <p>{{this.description}}</p>
      <p><strong>Categoría:</strong> {{this.category}} - <strong>Código:</strong> {{this.code}}</p>
      <p><strong>Stock:</strong> {{this.stock}} - <strong>Precio:</strong> ${{this.price}}</p>
    </li>
  {{/each}}

</ul>
</div>